.form-wrap{
  display: flex;
}
.form__preview{
  max-width: 50%;
  min-width: 50%;
  box-sizing: border-box;
  padding-left: 2.5%;
}
.form-group{
  max-width: 50%;
  min-width: 50%;
  box-sizing: border-box;
  padding-right: 2.5%;
  &__row{
    margin-bottom: 20px;
    &--reverse{
      text-align: right;
    }
  }
  &__title{
    font-family: @Arial;
    color: #333333;
    padding-bottom: 5px;
    display: block;
    font-size: 16px;
  }
  &__preview{
    max-width: 100%;
  }
}

.form-control{
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  border: 1px solid #999999;
  color: #333333;
  padding: 5px;
  box-sizing: border-box;
  font-family: @Arial;
  resize: vertical;
  &:hover, &:focus{
    border: 1px solid #006699;
    outline: none;
  }
}